<script setup lang="ts">
defineProps({
  images: Array<string
  >,
  profile: String,
  color: String,
  index: Number,
  activeSlideIndex: Number,
});
</script>

<template>
  <button @click="$emit('togglePosition', index)">
    <div class="flex flex-col mr-8 p-8 w-520" :class="color">
      <div class="flex flex-row mb-8">
        <img class="rounded-full w-16 h-16" :src="profile" alt="1" />
        <div class="flex flex-col ml-4">
          <h3 class="text-2xl">
            <slot name="name"></slot>
          </h3>
          <h4 class="text-lg text-left">
            <slot name="date"></slot>
          </h4>
        </div>
      </div>
      <div class="flex flex-col">
        <h2 class="text-3xl">
          <slot name="title"></slot>
        </h2>
        <p class="text-lg">
          <slot name="content"></slot>
        </p>
      </div>
      <div class="flex flex-row justify-center">
        <img
          v-for="img in images"
          class="rounded-md mr-2 w-1/3"
          :src="img"
          alt=""
        />
      </div>
    </div>
  </button>
</template>

<style scoped>
.carousel-item {
  cursor: grab;
}
</style>
