<script setup lang="ts">
import axios from "axios";
import { onMounted, ref } from "vue";

import NewsletterItem from "./components/NewsletterItem.vue";
// import data from "./data.json";

interface NewsletterItem {
  id: number;
  photos: string[];
  avatar: string;
  author: string;
  date: string;
  title: string;
  content: string;
}

const background = ["bg-orange-300", "bg-green-300", "bg-sky-300"];
const move = ref("");
const activeSlideIndex = ref(0);
const data = ref<NewsletterItem[]>([]);

const togglePosition = (index: number) => {
  console.log(index);
  console.log(activeSlideIndex.value);
  if (activeSlideIndex.value > index) prevSlide(index);
  if (activeSlideIndex.value < index) nextSlide(index);
};

const nextSlide = (index: number) => {
  if (index < data.value.length) {
    activeSlideIndex.value = index;
    move.value = `-${activeSlideIndex.value * 40}`;
  }
};
const prevSlide = (index: number) => {
  if (index >= 0) {
    activeSlideIndex.value = index;
    move.value = `-${activeSlideIndex.value * 40}`;
  }
};

onMounted(async () => {
  try {
    const response = await axios.get("http://localhost:5000/newsletter");
    console.log(response);
    data.value = response.data;
  } catch (error) {
    console.error("There was an error fetching the data:", error);
  }
});
</script>

<template>
  <h1 class="flex justify-start text-3xl font-bold text-white mb-12">
    FIL D'ACTUALITES
  </h1>
  <div class="static flex justify-end flex-row mt-24"></div>
  <NewsletterItem
    v-if="data.length > 0"
    v-for="(item, i) in data"
    :key="item.id"
    :images="item.photos"
    :profile="item.avatar"
    :color="background[i]"
    class="flex-initial transition-transform ease-in-out delay-150 duration-300"
    :style="{
      transform: `translateX(${move}%) ${
        activeSlideIndex === i ? 'scale(1.0)' : 'scale(0.9)'
      }`,
    }"
    :index="i"
    @toggle-position="togglePosition"
  >
    <template v-slot:name>{{ item.author }}</template>
    <template v-slot:date>{{ item.date }}</template>
    <template v-slot:title>{{ item.title }}</template>
    <template v-slot:content>{{ item.content }}</template>
  </NewsletterItem>
  <!-- <svg v-else class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24"></svg> -->
</template>

<style scoped>
p {
  color: black;
}
</style>
